<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All employee</title>
</head>
<body>

<div th:each = "employee : ${employee}">
    <form th:method="GET" th:action="@{/employee/{id}(id=${employee.getId()})}">
        <input type="submit" th:value="${employee.getName() + ', ' + employee.getDepartment()}"/>
        <input type="hidden" name="id" th:value="${employee.getId()}"/>
    </form>
</div>


<br/>
<hr/>
<a href="employee/new">Create new employee</a>

</body>
</html>